// global styles for <a> and <p> tags
$govuk-global-styles: true;
$govuk-new-link-styles: true;

// We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework.
$govuk-assets-path: '/govuk/assets/';

// Import GOV.UK Frontend and any extension styles if extensions have been configured
@import "lib/extensions/extensions";

// Patterns that aren't in Frontend
@import "patterns/step-by-step-header";
@import "patterns/step-by-step-nav";
@import "patterns/step-by-step-related";
@import "patterns/task-list";
@import "patterns/related-items";

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you


.app-subnav__section {
    margin: 0 0 20px;
    padding: 0;
    list-style-type: none;
}

.app-subnav__section-item--current {
    margin-left: -14px;
    padding-left: 10px;
    border-left: 4px solid #1d70b8;
    background-color: #fff;
}

.app-subnav__section-item {
    margin-bottom: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.govuk-link--no-underline:not(:hover):not(:active) {
    text-decoration: none;
}
.app-subnav__section-item--current .app-subnav__link {
    font-weight: bold;
}
.govuk-link--no-visited-state:link {
    color: #1d70b8;
}

p reference {
    padding: 05px;
    color: #1d70b8;
    background-color: #f3f2f1;
}

.panel {
    float: left;
    background: #f3f2f1;
    min-height: 100px;

    width: 95%;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: "GDS Transport", arial, sans-serif;
}

.example-wrapper {
    float: left;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid #b1b4b6;
    width: 100%;
    padding: 10px;
}


.example {
border-bottom: 1px solid #b1b4b6;
padding: 10px;
}

.panel p {
    padding-top:1em; 
    margin-bottom:0px;
    font-weight: 700;
  
}

//img {
   // border: 1px solid #b1b4b6;
 // }

  .example img {
    display: block;
}