$govuk-font-family: Arial, sans-serif;

// global styles for <a> and <p> tags
$govuk-global-styles: true;
$govuk-new-link-styles: true;

// We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework.
$govuk-assets-path: "/govuk/assets/";

// Import GOV.UK Frontend and any extension styles if extensions have been configured
@import ".tmp/sass/extensions";

// Patterns that aren't in Frontend
// @import "patterns/contents-list";
// @import "patterns/mainstream-guide";
// @import "patterns/pagination";
// @import "patterns/related-items";
// @import "patterns/step-by-step-header";
// @import "patterns/step-by-step-nav";
// @import "patterns/step-by-step-related";
// @import "patterns/task-list";

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.app-subnav__section {
  margin: 0 0 20px;
  padding: 0;
  list-style-type: none;
}

.app-subnav__section-item--current {
  margin-left: -14px;
  padding-left: 10px;
  border-left: 4px solid #1d70b8;
}

.app-subnav__section-item {
  margin-bottom: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.govuk-link--no-underline:not(:hover):not(:active) {
  text-decoration: none;
}

.app-subnav__section-item--current .app-subnav__link {
  font-weight: bold;
}

.govuk-link--no-visited-state:link {
  color: #1d70b8;
}

blockquote {
  font-family: arial, sans-serif;
  margin: 0;
  padding: 10px;
  background-color: #f3f2f1;
  font-style: italic;
  margin-bottom: 10px;
}

blockquote p:last-of-type {
  margin-bottom: 0;
}

.example-wrapper {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid #b1b4b6;
  padding: 10px;
}

.example {
  padding: 10px;
}

.example:not(:last-of-type),
.panel:not(:last-of-type) {
  border-bottom: 1px solid #b1b4b6;
  margin-bottom: 10px;
}

.panel {
  background-color: #f3f2f1;
  padding: 15px;
  font-family: "GDS Transport", arial, sans-serif;
}

.colour-table {
  font-family: "GDS Transport", arial, sans-serif;
  font-weight: 400;
  font-size: 19px;
  line-height: 1.25;
  table-layout: fixed;
  color: #0b0c0c;
  width: 100%;
  margin-bottom: 20px;
}

.colour-table td:first-child {
  width: 50px;
}

.colour-dot {
  display: inline-block;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px solid #b1b4b6;
}

.colour-block {
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
}

// Code snippets
.govuk-details pre {
  font-size: 0.9em;
  margin: 0;
  padding: 14px;
  background-color: govuk-colour("light-grey");
}
