{% set pageTitle = "Typography" %}
{% extends "layout.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
    {% include "includes/navigation.html" %}
  </div>

  <div class="govuk-grid-column-three-quarters">
    <h1 class="govuk-heading-xl">Typography</h1>

    <h2 class="govuk-heading-l">Font</h2>
    <p>The Design system states:</p>

    <blockquote>
      <p>
        If your service is publicly available on a subdomain other than
        service.gov.uk, use an alternative typeface like Helvetica or Arial.
      </p>
    </blockquote>

    <p>
      In PBI use Segoe UI as it has increased line height and is easier to read
      than Arial.
    </p>

    <h2 class="govuk-heading-l">Header banner</h2>

    <div class="example-wrapper">
      <div class="example">
        <img src="/public/images/heading-wrapper.png" width="1198" height="180" alt="Example of header bar display title and sub-title." />
      </div>

      <div class="panel">
        <p>
          Background shape fill: #000000<br />
          Fill the shape in the top corners of the page to replicate the Gov.UK
          heading on services.<br />
          Overlay the following text boxes.
        </p>

        <h3>Main text</h3>
        <p>
          X position: 30<br />
          Y position: 11 <br />
          Font colour: #FFFFFF <br />
          Text size: 20pt <br />
          Bold: On
        </p>

        <h3>Service specific text</h3>
        <p>
          Y position: 11 <br />
          Font colour: #FFFFFF <br />
          Text size: 18pt
        </p>
      </div>
    </div>

    <h2 class="govuk-heading-l">Headings</h2>

    <div class="example-wrapper">
      <div class="panel">
        <h3>Large header</h3>
        <p>
          Text size: 20pt <br />
          Bold
        </p>

        <h3>Medium header</h3>
        <p>
          Text size: 16pt <br />
          Bold
        </p>

        <h3>Small header:</h3>
        <p>
          Text size: 12pt<br />
          Bold
        </p>
      </div>
    </div>

    <h2 class="govuk-heading-l">Paragraphs</h2>

    <h2 class="govuk-heading-m">Body</h2>

    <p>The default paragraph font size should be set to 12px.</p>

    <h2 class="govuk-heading-m">Lead paragraph</h2>
    <p>
      A lead paragraph is an introductory paragraph that you can use at the top
      of a page to summarise the content. Lead paragraphs use 14px type and
      should only be used once per page if needed.
    </p>

    <h2 class="govuk-heading-m">Body small</h2>

    <p>
      Smaller paragraph text is 10.5px. Used for minor details, use sparingly
      (eg. for footnotes).
    </p>

    <p>
      The majority of your body copy should use the standard 12px body paragraph
      size.
    </p>
  </div>
</div>

{% endblock %}
