{% from "govuk/components/details/macro.njk" import govukDetails %}

{% set pageTitle = "Colour" %}
{% extends "layout.html" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">
      {% include "includes/navigation.html" %}
    </div>

    <div class="govuk-grid-column-three-quarters">
      <h1 class="govuk-heading-xl">Colour</h1>

      <p>
      The following are taken from the existing
      <a
        href="https://design-system.service.gov.uk/styles/colour/"
        >design system colours</a
      > of text, links, inputs, and focussed elements.
     </p>

      <h2 class="govuk-heading-m">Text</h2>

      {% set colours = [
        {
          value: "#0b0c0c",
          description: "Main text colour"
        }, {
          value: "#505a5f",
          description: "Secondary text colour"
        }
      ] %}

      {% include "includes/colour-table.html" %}

      <h2 class="govuk-heading-m">Links</h2>

      {% set colours = [
        {
          value: "#1d70b8",
          description: "Link colour"
        }, {
          value: "#003078",
          description: "Link hover colour"
        }, {
          value: "#4c2c92",
          description: "Link visited colour"
        }, {
          value: "#0b0c0c",
          description: "Link active colour"
        }
      ] %}

      {% include "includes/colour-table.html" %}

      <h2 class="govuk-heading-m">Focus state</h2>

      {% set colours = [
        {
          value: "#ffdd00",
          description: "Focus colour (only use this to indicate which element is focused on)"
        }, {
          value: "#0b0c0c",
          description: "Focus text colour"
        }
      ] %}

      {% include "includes/colour-table.html" %}

      <h2 class="govuk-heading-m">Alert states</h2>

      {% set colours = [
        {
          value: "#d4351c",
          description: "Error message colour"
        }, {
          value: "#f47738",
          description: "Warning message colour"
        }, {
          value: "#00703c",
          description: "Success message colour"
        }
      ] %}

      {% include "includes/colour-table.html" %}

      <h2 class="govuk-heading-l">Visualisation colours</h2>

      <p>The following palettes are broken down into their usage criteria on charts and graphs.</p>

      <h2 class="govuk-heading-m">Label and Axis</h2>

      {% set colours = [
        {
          value: "#505a5f",
          description: "Graph x/y axis label colours"
        }, {
          value: "#b1b4b6",
          description: "Border lines"
        }
      ] %}

      {% include "includes/colour-table.html" %}

      <h2 class="govuk-heading-m">Categorical</h2>

      <p>Used to colour multiple individual data points, or entire graphs, and make them distinguishable. Applied in sequence to create contrast between adjoining colours which aid with vision deficiencies.</p>

      <p>Although eight colours are provided a limit of four categories is advised to prevent a chart becoming too cluttered. Please consider your data representation carefully.</p>

      {{ govukDetails({
        summaryText: "Tools that don't honour sequence",
        html: "<p>Accessibility problems arise when tooling doesn't follow the sequence in which these colours are defined. If you are able to, manually re-assign items so the order is maintained.</p>
        <p>If this is not possible in the tool then a potential workaround is to provide multiple versions of differing colour orders in the hope that a suitable order is available.</p>"
      }) }}

      {% set colours = [
        "#12436D",
        "#28A197",
        "#801650",
        "#F46A25",
        "#3D3D3D",
        "#4a98dc",
        "#006422",
        "#A285D1"
      ] %}

      {% include "includes/colour-steps.html" %}
      {% include "includes/colour-json.html" %}

      <h2 class="govuk-heading-m">Sequential</h2>

      <p>Used to represent which values are larger or smaller.</p>

      {{ govukDetails({
        summaryText: "Tools that request minimum and maximum values",
        html: "<p>Some tools, such as PowerBI, request minimum, and maximum values to calculate the gradient states. In this case use the first and last colours from the palette.</p>"
      }) }}

      {% set colours = [
        "#c01f0c",
        "#c93c1f",
        "#d25330",
        "#da6741",
        "#e27a52",
        "#e88d64",
        "#ee9f76",
        "#f4b288",
        "#f8c49b",
        "#fcd7ae"
      ] %}

      {% include "includes/colour-gradient.html" %}
      {% include "includes/colour-steps.html" %}
      {% include "includes/colour-json.html" %}

      {% set colours = [
        "#00437a",
        "#255186",
        "#3c6091",
        "#4f709d",
        "#6180a9",
        "#7390b5",
        "#85a0c1",
        "#97b1ce",
        "#a9c3da",
        "#bbd4e6"
      ] %}

      {% include "includes/colour-gradient.html" %}
      {% include "includes/colour-steps.html" %}
      {% include "includes/colour-json.html" %}
      {#
      <p>TODO - include this green to light green one?</p>

      {% set colours = [
        "#009988",
        "#32a495",
        "#4cafa1",
        "#62bbae",
        "#77c6bb",
        "#8bd1c8",
        "#9eddd6",
        "#b1e8e3",
        "#c4f3f1",
        "#d7ffff"
      ] %}

      {% include "includes/colour-gradient.html" %}
      {% include "includes/colour-steps.html" %} #}

      <h2 class="govuk-heading-m">Diverging</h2>

      <p>A combination of the sequential measures to increase the spectrum. e.g. from positive to negative values.</p>

      {% set colours = [
        "#c01f0c",
        "#c93c1f",
        "#d25330",
        "#da6741",
        "#e27a52",
        "#e88d64",
        "#ee9f76",
        "#f4b288",
        "#f8c49b",
        "#fcd7ae",
        "#bbd4e6",
        "#a9c3da",
        "#97b1ce",
        "#85a0c1",
        "#7390b5",
        "#6180a9",
        "#4f709d",
        "#3c6091",
        "#255186",
        "#00437a"
      ] %}

      {#  https://carbondesignsystem.com/data-visualization/color-palettes/ #}
      {# {% set colours = [
        "#750e13",
        "#a2191f",
        "#da1e28",
        "#fa4d56",
        "#ff8389",
        "#ffb3b8",
        "#ffd7d9",
        "#fff1f1",
        "#e5f6ff",
        "#bae6ff",
        "#82cfff",
        "#33b1ff",
        "#1192e8",
        "#0072c3",
        "#00539a",
        "#003a6d"
      ] %} #}

      {% include "includes/colour-gradient.html" %}
      {% include "includes/colour-steps.html" %}
      {% include "includes/colour-json.html" %}

      <h2 class="govuk-heading-m">Overarching</h2>

      <p>These exist as a palette to select individual colours to standardise text, backgrounds, etc. It is made up of the text, label, axis, Categorical, and prominent Sequential colours.</p>

      <p>Care must be taken to use these colours in line with the guidelines, e.g. the yellow focus colour should not be used outside of highlighting a focussed element.</p>

      <p>Discrepancies in usage will dilute the representation of the meanings associated with the colours.</p>

      {% set colours = [
        "#000000",
        "#505a5f",
        "#1d70b8",
        "#003078",
        "#4c2c92",
        "#ffdd00",
        "#d4351c",
        "#f47738",
        "#00703c",
        "#b1b4b6",
        "#12436D",
        "#28A197",
        "#801650",
        "#F46A25",
        "#3D3D3D",
        "#4a98dc",
        "#006422",
        "#A285D1",
        "#c01f0c",
        "#fcd7ae",
        "#00437a",
        "#bbd4e6"
      ] %}

      {% include "includes/colour-steps.html" %}
      {% include "includes/colour-json.html" %}
    </div>
  </div>

{% endblock %}