{% set pageTitle = "Further Reading" %}
{% extends "layout.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
    {% include "includes/navigation.html" %}
  </div>

  <div class="govuk-grid-column-three-quarters">
    <h1 class="govuk-heading-xl">{{ pageTitle }}</h1>

    <p>Further reading resources from around gov.uk that may be able to help if you encounter situations not covered sufficiently by this documentation. In this scenario please <a href="/#feedback">feedback</a> to us.</p>

    <ul class="govuk-list govuk-list--bullet">
      <li><a href="https://gss.civilservice.gov.uk/tasks/communicating-statistics/">Government Statistical Service - Communicating statistics</a></li>
      <li><a href="https://analysisfunction.civilservice.gov.uk/policy-store/">Civil Service Analysis Function - Guidance hub</a></li>
    </ul>
  </div>
</div>

{% endblock %}
