{% set pageTitle = "Graphs" %}
{% extends "layout.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
    {% include "includes/navigation.html" %}
  </div>

  <div class="govuk-grid-column-three-quarters">
    <h1 class="govuk-heading-xl">Graphs</h1>

    <h2 class="govuk-heading-l">Graphs titles, intro text and containers</h2>
    <p>
      Creating a custom text box for the graph title / heading will allow custom
      spacing and create room to add introduction text to help give context to
      the graph.
    </p>

    <p>
      Use a Medium 16pt heading for the title with standard 12pt font for the
      intro text.
    </p>

    <p>
      Ensure both text boxes line up consistently within the container using the
      General, X Position.
    </p>

    <div class="example-wrapper">
      <div class="panel">
        <h3>Background shape / graph container:</h3>
        <p>
          Fill: Off<br/>
          Outline: #B1B4B6<br/>
          Outline weight: 1pt
        </p>
      </div>
    </div>

    <h2 class="govuk-heading-l">Line chart</h2>

    <p>Use a line chart to show a trend over time.</p>

    <div class="example-wrapper">
      <div class="example">
        <img src="/public/images/line-chart.png" width="1368" height="1014" />
      </div>

      <div class="panel">
        <p>Visual: Line chart</p>
        <h3>Legend (if needed)</h3>
        <p>
          Position: Top<br/>
          Title: off<br/>
          Font colour: #000<br/>
          Text size: 12pt <br/>
          Style: Markers only <br/>
          Circle deafult icon: On
        </p>

        <h3>X axis</h3>
        <p>
          Type: Continuous<br/>
          Scale type: Linear <br/>
          Font colour: #666666<br/>
          Text size: 11pt <br/>
          Bold: Off
        </p>

        <h3>Y axis</h3>
        <p>
          Position: Left<br/>
          Scale type: Linear <br/>
          Start: 0<br/>
          Font colour: #666666<br/>
          Text size: 11pt <br/>
          Gridlines: On <br/>
          Line colour: #B1B4B6<br/>
          Stroke width: 1<br/>
          Line style: Solid<br/>
          Title: On<br/>
          Title colour: #000<br/>
          Title text size: 12pt<br/>
          Bold: Off
        </p>

        <h3>Data colour</h3>
        <p>Colour: #003078</p>

        <h3>Shapes</h3>
        <p>
          Stroke width: 3<br/>
          Line style: Solid
        </p>
      </div>
    </div>

    <h2 class="govuk-heading-l">Constant lines</h2>
    <div class="example-wrapper">
      <div class="panel">
        <h3>Line colour and transparency</h3>
        <p>The same as the data it's related to (Primary or secondary etc)</p>
        <p>
          Line style: Dashed<br/>
          Position: Behind
        </p>
      </div>
    </div>
  </div>
</div>

{% endblock %}
