
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">
     
      <ul class="app-subnav__section">
        
        <li class="app-subnav__section-item app-subnav__section-item--current">
          <a class="app-subnav__link govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="">Home</a>
          
        </li>

        <li class="app-subnav__section-item">
          <a class="app-subnav__link govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="colour">Colour</a>
          
        </li>

        <li class="app-subnav__section-item">
          <a class="app-subnav__link govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="graphs">Graphs</a>
          
        </li>
      
       
      
        <li class="app-subnav__section-item">
          <a class="app-subnav__link govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="page-layout">Layout</a>
          
        </li>
      
       
      

        <li class="app-subnav__section-item">
          <a class="app-subnav__link govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="tables">Tables</a>
          
        </li>
      
        <li class="app-subnav__section-item">
          <a class="app-subnav__link govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="typography">Typography</a>
          
        </li>
      
      </ul>
    </div>


    <div class="govuk-grid-column-three-quarters">
      <h1 class="govuk-heading-xl">
        Data visualisation style guide
        <strong class="govuk-tag govuk-!-margin-top-4 govuk-!-margin-bottom-2">
          Experimental
        </strong></h1>
       <!-- <span class="govuk-caption-xl">{{releaseVersion}}</span>
      </h1>{{releaseVersion | log }} -->

     

      <p>This is a style guide prototype for data visualisation work in Microsoft Power BI (PBI).</p>


      <p>All styles are detailed to be as consistent as possible with the <a href="https://design-system.service.gov.uk/styles/">GOV.UK design system</a>, or as close as possible where there is an existing style or pattern.</p>

      <span class="govuk-caption-m">Contact information</span>
<h2 class="govuk-heading-s">Jen Rahman, Team Teal<br><a href=mailto:jen.rahman@engineering.digital.dwp.gov.uk>jen.rahman@engineering.digital.dwp.gov.uk  </a></h2>


<h2 class="govuk-heading-m">Current PBI work</h2>

<ul class="govuk-list govuk-list--bullet">
  <li><a href="https://app.powerbi.com/groups/1a3218bc-b570-4f6b-8fef-3a9674f18c32/reports/7e405d98-662f-4519-8cef-8a51b57d3ef4/ReportSection640f0829ff311cb168fa" target="_blank"> PIP Orientation Gov.uk GA report </a></li>
  
</ul>


<!-- 
   <hr>

      <p>We recommend you add links to your prototype to this page, rather than delete it.
        You'll find this page in the kit at '/app/views/index.html'.</p>

      <p>You can change the service name by editing the file '/app/config.js'.</p>

      <h2 class="govuk-heading-m">Examples and documentation</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/docs/tutorials-and-examples">Example pages and documentation</a>
        </li>
        <li>
          <a href="https://design-system.service.gov.uk">GOV.UK Design System</a>
        </li>
      </ul> -->
    </div>
  </div>

{% endblock %}
