{% extends "layout.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
    {% include "includes/navigation.html" %}
  </div>

  <div class="govuk-grid-column-three-quarters">
    <h1 class="govuk-heading-xl">
      Data visualisation style guide
    </h1>
    <!-- <span class="govuk-caption-xl">{{releaseVersion}}</span>
      </h1>{{releaseVersion | log }} -->

    <p>
      This is a style guide prototype for data visualisation work within DWP. It gives a generic overview but also provides information on how to apply it in within tools such as  Microsoft
      Power BI (PBI), and Qlik.
    </p>

    <p>
      All styles are detailed to be as consistent as possible with the
      <a href="https://design-system.service.gov.uk/styles/"
        >GOV.UK design system</a
      >, or as close as possible where there is an existing style or pattern.
    </p>

    <h2 class="govuk-heading-m" id="feedback">Contact information and Feedback</h2>

    <p>
      Dan Howarth, content designer, team Teal<br />
      <a href="mailto:daniel.howarth@engineering.digital.dwp.gov.uk"
        >daniel.howarth@engineering.digital.dwp.gov.uk</a
      >
    </p>

    <p>
      Tom de Bruin, frontend developer, DWP MI<br /><a
        href="mailto:tom.debruin@engineering.digital.dwp.gov.uk"
        >tom.debruin@engineering.digital.dwp.gov.uk
      </a>
    </p>

    <h2 class="govuk-heading-m">Acknowledgements</h2>

    <p>With massive thanks to Jen Rahman, who set this project in motion and provided the initial draft.</p>
    <p>Other participants who have contributed their time and knowledge: Gauravkumar Thakkar, Jessica Belfield, Matthem Osborne, Antonio Anjos.<a>
  </div>
</div>

{% endblock %}
