{% extends "layout.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
    {% include "includes/navigation.html" %}
  </div>

  <div class="govuk-grid-column-three-quarters">
    <h1 class="govuk-heading-xl">
      Data visualisation style guide
    </h1>
    <!-- <span class="govuk-caption-xl">{{releaseVersion}}</span>
      </h1>{{releaseVersion | log }} -->

    <p>
      This is a style guide prototype for data visualisation work within DWP. It gives a generic overview but also provides information on how to apply it in within tools such as  Microsoft
      Power BI (PBI), and Qlik.
    </p>

    <p>
      All styles are detailed to be as consistent as possible with the
      <a href="https://design-system.service.gov.uk/styles/"
        >GOV.UK design system</a
      >, or as close as possible where there is an existing style or pattern.
    </p>

    <h2 class="govuk-heading-m" id="feedback">Contact information and Feedback</h2>

    <p>
      Dan Howarth, content designer, team Teal<br />
      <a href="mailto:daniel.howarth@engineering.digital.dwp.gov.uk"
        >daniel.howarth@engineering.digital.dwp.gov.uk</a
      >
    </p>

    <p>
      Tom de Bruin, frontend developer, DWP MI<br /><a
        href="mailto:tom.debruin@engineering.digital.dwp.gov.uk"
        >tom.debruin@engineering.digital.dwp.gov.uk
      </a>
    </p>

    <h2 class="govuk-heading-m">Acknowledgements</h2>

    <p>With massive thanks to Jen Rahman, who set this project in motion and provided the initial draft.</p>

    <h2 class="govuk-heading-m">Current PBI work</h2>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        <a
          href="https://app.powerbi.com/groups/1a3218bc-b570-4f6b-8fef-3a9674f18c32/reports/265478bc-9295-4b09-83c5-b16b013774b0/ReportSection0ce566603e26b55554c7"
        >
          PIP Orientation Gov.uk GA report
        </a>
      </li>
    </ul>

    <!--
   <hr>

      <p>We recommend you add links to your prototype to this page, rather than delete it.
        You'll find this page in the kit at '/app/views/index.html'.</p>

      <p>You can change the service name by editing the file '/app/config.js'.</p>

      <h2 class="govuk-heading-m">Examples and documentation</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="//docs/tutorials-and-examples">Example pages and documentation</a>
        </li>
        <li>
          <a href="/https://design-system.service.gov.uk">GOV.UK Design System</a>
        </li>
      </ul> -->
  </div>
</div>

{% endblock %}
