{% set pageTitle = "Interactive Components" %}
{% extends "layout.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
    {% include "includes/navigation.html" %}
  </div>

  <div class="govuk-grid-column-three-quarters">
    <h1 class="govuk-heading-xl">Interactive components</h1>

    <h2 class="govuk-heading-l">Single select</h2>

    <p>Create a text box with 'Select' text above the slicer tool as the intro text to the component.</p>

    <div class="example-wrapper">
      <div class="example">
        <img src="/public/images/select.png" width="1052" height="438" />
      </div>

      <div class="example panel">
        <h3>Visual: slicer</h3>
        <p>
        Single select: On<br/>
        Slicer header: Off<br/>
        Items<br/>
        Font colour: #000<br/>
        Background: #fff<br/>
          Text size: 12pt<br/>
          Bold: Off<br/>
          Title: Off<br/>
          Background: Off
        </p>
      </div>
    </div>

    <h2 class="govuk-heading-l">Visual interactions</h2>

    <p>PBI is an interactive tool that updates values when visuals are interacted with. For example a data point can be selected on a graph and update the values in a table to show data on a particular date.</p>

    <p>To turn this function off select 'Visual interactions' from the header ribbon > Edit interactions: On and select which visuals you want to turn off interactivity.</p>

    <div class="example-wrapper">
      <div class="example">
        <img src="/public/images/interaction-off.png" width="706" height="406" />
      </div>
    </div>
</div>

{% endblock %}
