{% set pageTitle = "Page Layout" %}
{% extends "layout.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
    {% include "includes/navigation.html" %}
  </div>

  <div class="govuk-grid-column-three-quarters">
    <h1 class="govuk-heading-xl">Page layout</h1>

    <p>
      Use the
      <a
        href="https://design-system.service.gov.uk/styles/layout/#grid-system"
        target="_blank"
      >
        grid system
      </a>
      wherever possible to lay out content.
    </p>

    <h2 class="govuk-heading-l">Text box alignment</h2>

    <p>
      When creating content on the left side of the screen make sure it's all
      aligned evenly by setting each component in the General section, X
      position: 30.
    </p>

    <div class="example-wrapper">
      <div class="example">
        <img src="/public/images/text-box-alignment.png" width="664" height="468" />
      </div>
    </div>

    <h2 class="govuk-heading-l">Navigation</h2>
    <p>
      Taken from the DWP design examples for
      <a
        href="https://dwp-design-examples.herokuapp.com/example/navigation-secondary"
        target="_blank"
        >secondary navigation</a
      >.
    </p>
    <p>
      There are multiple parts to this pattern, using buttons and layered
      shapes. It helps to rename these shapes something valuable when layering
      in the View > Selection pane.
    </p>

    <div class="example-wrapper">
      <div class="example">
        <img src="/public/images/secondary-nav.png" width="1238" height="148" />
      </div>

      <div class="panel">
        <h3>Active nav button</h3>

        <p>
          Select Button > Blank<br />
          Outline: Off Text: vertical alignment: Middle <br />
          Horizontal alignment: cente <br />
          Margins: 4px<br />
          Icon: Off<br />
          Background: off <br />
          Action: off (this isn't needed as this has to look like the active
          selection)<br />
        </p>

        <h3>
          Active nav button underline (layer ontop of the active nav button and
          grey underline)
        </h3>

        <p>
          Shape> line<br />
          Outline: On <br />
          Outline colour: #005EA5<br />
          Outline weight: 2pt
        </p>

        <h3>Other nav link buttons</h3>

        <p>
          Select Button > Blank<br />
          Outline: Off Text: font colour: #005EA5 Vertical alignment: Middle
          <br />
          Horizontal alignment: cente <br />
          Margins: 4px<br />
          Icon: Off<br />
          Background: off <br />
          Action: on<br />
          Type: Page navigation <br />
          Destination: Select your target page<br />
        </p>

        <h3>Grey underline border (bottom layer)</h3>
        <p>
          Shape > line Online: On<br />
          Title: off<br />
          Online colour: #DEE0E2<br />
          Outline weight: 1pt
        </p>
      </div>
    </div>
  </div>

  {% endblock %}
</div>
