
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">
     
      <ul class="app-subnav__section">
        
        <li class="app-subnav__section-item">
          <a class="app-subnav__link govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="index">Home</a>
          
        </li>

        <li class="app-subnav__section-item">
          <a class="app-subnav__link govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="colour">Colour</a>
          
        </li>

        <li class="app-subnav__section-item">
          <a class="app-subnav__link govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="graphs">Graphs</a>
          
        </li>
      
       
      
        <li class="app-subnav__section-item app-subnav__section-item--current">
          <a class="app-subnav__link govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="layout">Page layout</a>
          
        </li>
      
       
      

        <li class="app-subnav__section-item">
          <a class="app-subnav__link govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="tables">Tables</a>
          
        </li>
        <li class="app-subnav__section-item">
       
          <a class="app-subnav__link govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="typography">Typography</a>
          
        </li>
      
      </ul>
    </div>


    <div class="govuk-grid-column-three-quarters">
      <h1 class="govuk-heading-xl">
       Page layout </h1>

       <p>Use the <a href="https://design-system.service.gov.uk/styles/layout/#grid-system" target="_blank"> grid system </a> wherever possible to lay out content.</p>

       <h2 class="govuk-heading-l">Text box alignment</h2>
      
       <p>When creating content on the left side of the screen make sure it's all aligned evenly by setting each component in the General section, X position: 30.
      </p>
    
     <div class="example-wrapper"> 

      <div class="no-text-example"> 

        <img src="/public/images/text-box-alignment.png" width="50%" >

      </div>


     
   

    </div>

    <h2 class="govuk-heading-l">Visual interactions</h2>

    <p>PBI is an interactive tool that updates values when visuals are interacted with. For example a data point can be selected on a graph and update the values in a table to show data on a perticular date. </p>

    <p>To turn this function off select 'Visual interactions' from the header ribbon > Edit interactions: On and select which visuals you want to turn off interactivity. </p>

    <div class="example-wrapper"> 

      <div class="no-text-example"> 

        <img src="/public/images/interaction-off.png" width="50%" >

      </div>



    </div>
  </div>

{% endblock %}
