
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">
     
      <ul class="app-subnav__section">
        
        <li class="app-subnav__section-item">
          <a class="app-subnav__link govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="index">Home</a>
          
        </li>

        <li class="app-subnav__section-item">
          <a class="app-subnav__link govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="colour">Colour</a>
          
        </li>

        <li class="app-subnav__section-item">
          <a class="app-subnav__link govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="graphs">Graphs</a>
          
        </li>
      
       
      
        <li class="app-subnav__section-item">
          <a class="app-subnav__link govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="page-layout">Layout</a>
          
        </li>
      
       
      
        

        <li class="app-subnav__section-item app-subnav__section-item--current">
          <a class="app-subnav__link govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="">Page layout</a>
          
        </li>
      
        <li class="app-subnav__section-item">
          <a class="app-subnav__link govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="typography">Typography</a>
          
        </li>
      
      </ul>
    </div>


    <div class="govuk-grid-column-three-quarters">
      <h1 class="govuk-heading-xl">
       Tables </h1>

       
       <p>Use tables to make information easier to compare and let users compare information in rows and columns.</p>
        
       
        <h2 class="govuk-heading-m">Simple table</h2>

        <div class="example-wrapper"> 

          <div class="example"> 

            <img src="/public/images/simple-table.png" width="75%" >

          </div>

        <div class="panel"> 
          <p>Style</p>
         Style: None

         <p>Grid</p>
          Row padding: 8 <br>
          Outline colour: #B1B4B6<br>
          Outline weight: 1 <br>

          <p>Column headers</p>
          Font colour:  #000<br>
          Background colour: #fff<br>
          Outline: Bottom only <br>
          Text size: 12 pt <br>
          Bold: On <br>
          Alignment: Left


          <p>Values</p>
          Font colour:  #000<br>
          Background colour: #fff<br>
          Outline: Bottom only <br>
          Text size: 12 pt <br>
         

          <p>Field formatting</p>
          
          Alignment: Left<br>
          Apply to values: On

          
        
        </div>



      </div>


    </div>
  </div>

{% endblock %}
