{% set pageTitle = "Tables" %}
{% extends "layout.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
    {% include "includes/navigation.html" %}
  </div>

  <div class="govuk-grid-column-three-quarters">
    <h1 class="govuk-heading-xl">Tables</h1>

    <p>
      Use tables to make information easier to compare and let users compare
      information in rows and columns.
    </p>

    <h2 class="govuk-heading-m">Simple table</h2>

    <div class="example-wrapper">
      <div class="example">
        <img src="/public/images/simple-table.png" width="730" height="134" />
      </div>

      <div class="panel">
        <p>Visual: table</p>
        <h3>Style</h3>
        <p>Style: None</p>

        <h3>Grid</h3>
        <p>
          Row padding: 8 <br />
          Outline colour: #B1B4B6<br />
          Outline weight: 1
        </p>

        <h3>Column headers</h3>
        <p>
          Font colour: #000<br />
          Background colour: #fff<br />
          Outline: Bottom only <br />
          Text size: 12 pt <br />
          Bold: On <br />
          Alignment: Left
        </p>

        <h3>Values</h3>
        <p>
          Font colour: #000<br />
          Background colour: #fff<br />
          Outline: Bottom only <br />
          Text size: 12 pt
        </p>

        <h3>Field formatting</h3>
        <p>
          Alignment: Left<br />
          Apply to values: On
        </p>
      </div>
    </div>
  </div>
</div>

{% endblock %}
